@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600);

body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-top: 50px;
    min-width: 480px;
}

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

h2 {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 0em;
}

h3 {
    padding-top: 0.7em;
    padding-bottom: 0.1em;
}

h5 {
    font-size: inherit;
}

hr {
    border-color: #aaaaaa;
}

code {
    color: #585858;
}

pre {
    padding: 0;
}

pre code.hljs {
    padding: 1.2em;
}

.starter-template {
    padding: 20px 15px 30px;
    text-align: center;
}

.hero {
    font-weight: lighter;
    background: #222;
    color: ghostwhite;
    width: inherit;
}
.hero-title {
    color: #d95800;
}

.hotlinks-container {
    padding: 1em;
    padding-bottom: 0;
    text-align: center;
}

.footer {
    text-align: center;
    padding-bottom: 50px;
}